.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(210, 46%, 95%);
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}

h3 {
  font-size: 14px;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}

.circle {
  z-index: 1;
  position: absolute;
  float: right;
  /* display: block; */
  background: hsl(210, 46%, 95%);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0;
  right: 0px;
  bottom: 58px;
  left: 352px;
}

.share {
  z-index: 2;
  position: relative;
  margin-top: -35px;
  float: right;
}



.userprofile {
  padding-left: 50px;
  line-height: 0.5em;
}

.userimage {
  width: 35px;
  border-radius: 25px;
  float: left;
}

.container {
  overflow: hidden;
  width: 700px;
  height: 240px;
  border-width: 1px;
  /* border-style: solid; */
  margin-top: 50px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 15px grey;
}

.col-sm {
  padding: 0px;
}

.textcol {
  background-color: white;
  right: 110px;
  /* padding-left:30px;   */
  margin-right: -50px !important;
}

.drawers {
  max-width: 90%;
  max-height: 90%;
}

.textsection {
  padding-top: 25px;
  padding-left: 30px;
  text-align: left;
  font-weight: 500;
}

.maintext {
  color: hsl(214, 17%, 51%);
}

.date {
  color: hsl(212, 23%, 69%);
}
